* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header_title {
    height: 50px;
    width: 100%;
    
    
    background-color: plum;
}

.links_attach {
    display:flex;
    flex-direction: row;
    justify-content: end;
}

.site_logo {
    height: 5%;
    width: 7%;

    display: flex;
    
    justify-content: center;
    align-items: left;
    padding: 5px; 
}

.Home {
    border-radius: 2px;
    padding-right: 15px;

}

.About {
    border-radius: 2px;
    padding-left: 15px;

}